* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --body-background: #F5F7FA;
    --primary-color: #f0e1e1;
    --sidebar-background: #3D5A80;
}

body {
    height: 100vh;
    background-color: var(--body-background);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;
    color: var(--primary-color);
}

h2 {
    font-size: 2.3rem;
}

span{
    display: block;
}

.app {
    height: 100%;

    display: flex;
    gap: 20px;
}

.sidebar {
    height: 100%;
    width: 280px;
    background-color: var(--sidebar-background);
    padding: 10px;
}

.projects-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

button.add-project {
    align-self: flex-start;
    border: none;
    border-radius: 20px;
    font-size: 0.95rem;
    font-weight: 600;
    color: var(--primary-color);

    padding: 10px 8px;
    background-color: #2b505f;
    transition: all 0.15s ease-in-out;
    cursor: pointer;
}

button.add-project:hover {
    background-color: var(--primary-color);
    color: var(--sidebar-background);
}

.projects {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.project {
    position: relative;
    background-color: #031d2736;
    padding: 12px 8px;
    border-radius: 3px;
    transition: padding 0.15s ease-in-out;
}

.project button {
    position: absolute;
    padding: 2px 10px;
    top: 5px;
    right: 8px;
    font-size: 0.6rem;
    font-weight: 600;
    cursor: pointer;
    border: none;
    background-color: var(--sidebar-background);
    border-radius: 3px;
    transition: opacity 0.15s ease-in-out;
}

.project button:hover {
    opacity: 0.7;
}

.project:hover {
    padding: 20px 10px;
    cursor: pointer;
}

.project::after {
    content: "Show Project";
    font-size: 0.8rem;
    text-decoration: underline;
    font-weight: 600;

    position: absolute;
    bottom: 3px;
    right: 3px;

    opacity: 0;
    transition: opacity 0.15s ease-in-out;
}

.project:hover::after {
    opacity: 1;
}

.add-project-dialog {
    width: 420px;
    height: 250px;
    margin-left: 290px;
    margin-right: auto;
    margin-top: 60px;
    border: none;
    outline: none;
    background-color: var(--sidebar-background);
    padding: 15px;
    padding-top: 0;
}

.input-box {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

label {
    display: block;
    color: var(--primary-color);
    font-weight: 600;
    font-size: 1.3rem;
    margin-top: 16px;
}

input {
    align-self: flex-start;
    appearance: none;
    border: none;
    outline: none;
    padding: 6px 8px;
    font-size: 0.9rem;
    font-weight: 600;
    color: var(--primary-color);
    background-color: #2b505f;
    border-radius: 8px;
}

input::placeholder {
    font-weight: 400sd;
}

input:focus {
    outline: 1px solid #161616a4;
}

.buttons-container {
    display: flex;
    gap: 8px;

    margin-top: 20px;
}

.buttons-container button {
    padding: 8px 15px;
    border: none;
    background-color: #2b505f;
    color: var(--primary-color);
    font-size: 0.9rem;
    font-weight: 600;
    border-radius: 20px;
    transition: color 0.15s, background-color 0.15s ease-in-out;
    cursor: pointer;
}

.buttons-container button:hover {
    background-color: var(--primary-color);
    color: var(--sidebar-background);
}

.project-details {
    margin: 20px;
    padding: 10px;
    width: 500px;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 20px;

    background-color: #f8f8f8;
    color: #333;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.project-details button {
    padding: 8px;
    align-self: flex-start;
    background-color: var(--sidebar-background);
    border: none;
    color: var(--primary-color);
    font-size: 1rem;
    font-weight: 600;
    border-radius: 6px;
    cursor: pointer;

    transition: background-color 0.15s ease-in-out, color 0.15s ease-in-out;
}

.project-details button:hover{
    background-color: #2b505f;
    color: #fff;
}

.todo-list{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.todo-item{
    position: relative;
    background-color: #000000bb;
    padding: 10px;
    font-size: 1.3rem;
    font-weight: 600;
    color: var(--primary-color);
    border-radius: 8px;

    display: flex;
    flex-direction: column;
    gap: 6px;
    cursor: pointer;

    transition: background-color 0.15s ease-in-out;
}

.todo-item:hover{
    background-color: #272727;
}

.todo-item::after{
    position: absolute;
    bottom: 5px;
    right: 5px;
    content: "Show Details";
    font-size: 0.8rem;
    text-decoration: underline;
    opacity: 0;
    transition: opacity 0.15s ease-in-out;
}

.todo-item:hover::after{
    opacity: 1;
}

.todo-item.expanded::after{
    content: "Hide Details";
}

.todo-buttons-wrapper{
    display: flex;
    gap: 8px;
}

.add-todo-dialog{
    width: 450px;
    height: 450px;
    margin: 50px auto; 
    border: none;
    outline: none;
    background-color: var(--sidebar-background);
    color: var(--primary-color);
    padding: 15px;
    padding-top: 0;
}

select{
    appearance: none;
    padding: 8px;
    color: var(--primary-color);
    background-color: #2b505f;
    border: none;
    outline: none;
    cursor: pointer;
}

.todo-item button{
    position: absolute;
    top: 10px;
    right: 10px;
}